version: "3.8"
services:
  # Service Redis
  redis:
    image: redis:7.0-alpine
    container_name: threads-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

  app:
    build: .
    container_name: threads-backend
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRETKEY=${JWT_SECRETKEY}
      - REDIS_URL=redis://redis:6379
      - NODE_ENV=production
    depends_on:
      - redis

volumes:
  redis_data:
